%h1 Установка приложений в отделения
.row.col-xs-6
  =simple_form_for :form do |f|
    .col-md-6
      =f.input :office_id, :label => 'Отделение', as: :select, collection: Office.all.map{ |l| [l.name, l.id] }, :required => false, input_html: {class: 'form-control'}, wrapper_html: {class: 'form-group'}
      =f.button  :submit, 'Установить', :class => 'btn btn-danger btn-lg'